<!DOCTYPE html>
<html>
<h1>Let's Battle!</h1>
<h2>Sign in to play</h2>
  <form action="/names" method="post">
    <label for='name1'>Player 1 name</label>
    <input type="text" id="name1" name="name1">
    <label for='name2'>Player 2 name</label>
    <input type="text" id="name2" name="name2">
    <input type="submit" value="Submit">
  </form>
</html>
